@import "tailwindcss";

@theme {
  --color-primary: var(--cl-primary);
  --color-primary-darker: var(--cl-primary-darker);
  --color-primary-darkest: var(--cl-primary-darkest);
  --color-base: var(--cl-base);
  --color-gray-dark: var(--cl-gray-dark);
  --color-gray-light: var(--cl-gray-light);
  --color-primary-black: var(--cl-primary-b);
  --color-gray-lightest: var(--cl-gray-lightest);
  --color-gray-darkest: var(--cl-gray-darkest);
  --color-gray: var(--cl-gray);
  --color-cl-b0: rgb(0, 0, 0);
  --color-cl-w0: var(--w0);

  --font-*: initial;
  --font-inter: "Inter", sans-serif;
  --font-public: "Public Sans";

  --breakpoint-xs: 30rem;

  --animation-zoom-in: zoom-in 0.3s ease-out forwards;

  @keyframes zoom-in {
    0% {
      transform: scale(0.95);
      opacity: 0
    }
    100% {
      transform: scale(1);
      opacity: 1
    }

  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  * {
    margin: revert;
    padding: revert;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@layer base {
  :root {
    --cl-primary: rgb(16, 91, 216);
    --cl-primary-darker: rgb(11, 61, 145);
    --cl-primary-darkest: rgb(6, 31, 74);
    --cl-base: rgb(33, 33, 33);
    --cl-gray-dark: rgb(46, 46, 50);
    --cl-gray-light: rgb(174, 176, 181);

    --cl-gray: rgb(185, 185, 187);
    --cl-gray-lightest: rgb(214, 215, 217);
    --cl-gray-darkest: rgb(27, 27, 27);

    --cl-primary-b: rgb(27, 27, 27);

    --b0: rgb(0, 0, 0);
    --w0: rgb(255, 255, 255);
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
}

::placeholder {
  color: black;
  opacity: 1;
}

html,
body,
#root {
  width: 100%;
  min-width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: clip;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.2rem;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}

h4 {
  font-size: 0.875rem;
}

p {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  text-align: justify;
  margin: 0;
}

span {
  font-size: 1rem;
}

.span-title-size {
  font-size: 2.5rem;
}

a {
  font-weight: normal;
  color: var(--w0);
  text-decoration: inherit;
  font-size: 0.875rem;
  min-width: 40px;
  min-height: 30px;
  padding: 0rem 0;
  display: flex;
  align-items: center;
  display: inline-flex;
  border: 2px solid transparent;
}

.a-hover:hover {
  border-bottom: dashed 1px #fff;
}

ul {
  margin: 0;
  padding: 0;
}

.footer-logo-name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;

  @media (min-width: 640px) {
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    font-size: 2rem;
  }

  @media (min-width: 1024px) {
    font-size: 2rem;
  }

  @media (min-width: 1280px) {
    font-size: 2rem;
  }

  @media (min-width: 1536px) {
    font-size: 2rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.active {
  border-bottom: dashed 1px #fff;
}

.mobile-nav {
  top: 56px;
}

/* *TODO - Comment */
.topic-li {
  position: relative;
  border: none;
  padding: 0.3em 0;
  transition: 100ms;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
}

.topic-li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--cl-primary-b);
  transition: width 0.3s ease;
}

/* Expande a borda no estado ativo */
.topic-li-active::before {
  width: 100%;
}

.topic-li:hover {
  background: transparent;
}

.header-padding {
  padding: 0.5rem 1.5rem;

  @media (min-width: 480px) {
    padding: 0.5rem 3rem;
  }

  @media (min-width: 640px) {
    padding: 0.5rem 6.25rem;
  }

  @media (min-width: 768px) {
    padding: 0.5rem 6.25rem;
  }

  @media (min-width: 1024px) {
    padding: 0.5rem 12.5rem;
  }

  @media (min-width: 1280px) {
    padding: 0.5rem 12.5rem;
  }

  @media (min-width: 1536px) {
    padding: 0.5rem 20vw;
  }
}

.body-padding {
  padding: 5rem 1.5rem;

  @media (min-width: 480px) {
    padding: 5rem 3rem;
  }

  @media (min-width: 640px) {
    padding: 5rem 6.25rem;
  }

  @media (min-width: 768px) {
    padding: 5rem 6.25rem;
  }

  @media (min-width: 1024px) {
    padding: 5rem 12.5rem;
  }

  @media (min-width: 1280px) {
    padding: 5rem 12.5rem;
  }

  @media (min-width: 1536px) {
    padding: 5rem 20vw;
  }
}

.footer-padding {
  padding: 1.5rem 1.5rem;

  @media (min-width: 480px) {
    padding: 1.5rem 3rem;
  }

  @media (min-width: 640px) {
    padding: 1.5rem 6.25rem;
  }

  @media (min-width: 768px) {
    padding: 1.5rem 6.25rem;
  }

  @media (min-width: 1024px) {
    padding: 1.5rem 12.5rem;
  }

  @media (min-width: 1280px) {
    padding: 1.5rem 12.5rem;
  }

  @media (min-width: 1536px) {
    padding: 1.5rem 20vw;
  }
}

.react-datepicker {
  border-radius: 0.25rem !important;
  border-color: var(--cl-base) !important;
}

.react-datepicker__header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #fff !important;
  border-bottom: var(--color-base) 1px solid !important;
}

.react-datepicker__navigation
  .react-datepicker__navigation--years
  .react-datepicker__navigation--years-previous {
  color: black;
  background-color: black;
  fill: black;
}

.react-datepicker__day--today {
  background-color: rgb(208, 224, 252) !important;
  border-radius: 5px !important;
}
